.custom-calendar {
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    position: relative;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    position: relative;
}

.calendar-dates div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 0.9em;
}

.calendar-dates div.full-day {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.calendar-dates div.half-day {
    background-color: #FFEB3B;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.calendar-dates div.absent {
    background-color: #F44336;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.calendar-dates div.sunday {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.calendar-dates div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    z-index: 1;
}

.calendar-dates div.empty {
    cursor: default;
    background: none;
}

.calendar-tooltip {
    visibility: hidden;
    width: auto;
    max-width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.calendar-dates div:hover .calendar-tooltip {
    visibility: visible;
    opacity: 1;
}

.calendar-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.calendar-dates div:hover .calendar-tooltip {
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Added to ensure immediate hover effect */
.calendar-dates div:hover {
    z-index: 2;
}