
@media (min-width: 1024px) {
    .container-expense {
        position: relative;
            left: 230px;
            width: 100%
    }
}

@media (max-width: 768px) {
    .container-expense {
        width: 400px;
    }

}

@media (max-width: 480px) {
    .container-expense {
        width: 400px;
    }


}

/* Mobile-specific enhancements */
@media (max-width: 640px) {
    .container-expense {
        width: 400px;
    }

}